{% extends "base.html" %}

{% block body %}
    <h1>Lista de Categorias</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for c in categorias %}
                <tr>
                    <td>{{ c.nome }}</td>
                    <td>{{ c.descricao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nova_categoria' %}" class="btn btn-default" role="button">Adicionar Categoria</a>
{% endblock body %}