{% load staticfiles %}
{% load widget_tweaks %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cadastro de novo usuário</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  </head>

  <body>
    <div class="container">

        <div class="row">
            <form class="" action="" method="post">
            <h1>Informe os Dados</h1>
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}">Nome</label>
                    {{ form.first_name|add_class:'form-control'|attr:'autofocus' }}
                </div>
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}">Sobrenome</label>
                    {{ form.last_name|add_class:'form-control' }}
                </div>
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Usuário</label>
                    {{ form.username|add_class:'form-control' }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Senha</label>
                    {{ form.password|add_class:'form-control' }}
                </div>
              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>

    </div>
  </body>
</html>
